.kyc__footer{
    display: flex;
    justify-content: space-between;
    background-color: #010813;
}

.kyc__footer-content{
    color: #fff;
}

.kyc__footer-content h2{
    font-family: var(--font-family);
    font-weight: 800;
    color: #fff;
    margin-bottom: 2rem;
}

.kyc__footer-content li{
    list-style: none;
    text-decoration: none;
    font-family: var(--font-family);
    padding: 0.6rem;
    cursor: pointer;
}

.kyc__footer-content p{
    width: 60%;
}

#first-element{
    font-size: 32px;
    font-family: var(--font-family);
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.early{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}