.kyc__usecase{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3.7rem;
}


.kyc__usecase h1{
    font-family: var(--font-family);
    font-weight: 800;
    color: #fff;
    font-size: 40px;
}

.kyc__usecase-grids{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 10px;
     text-align: center;
}

.kyc__usecase-grid-container{
    margin: 2rem;
    background-color: #010813;
    padding: 1.5rem;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: start;
  }

  .kyc__usecase-grid-container h1{
    font-size: 32px;
    width: 65%;
}

  .kyc__usecase-grid-container:hover{
    background-color: var(--color-bg);
    box-shadow: 15px 15px 22px 1px rgba(0,0,0,0.84);
  }

  /* #logo{
    text-align: start;
} */


@media screen and (max-width: 1400px){
    .kyc__usecase{
        padding: 0 2rem;
    }

    .kyc__usecase-grid-container{
        padding: 0;
        margin: 1rem;
    }

}




@media screen and (max-width: 1050px){
  
    .kyc__usecase-grids{
        grid-template-columns: repeat(3, 1fr);
    }

    .kyc__usecase h1{
        font-size: 28px;
    }

    .icon{
        width: 30px;
        height: 30px
    }
}


@media screen and (max-width: 950px){

    

    .kyc__usecase-grids{
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }

    .kyc__usecase-grid-container{
        margin: 1rem;
        padding: 1.5rem;
      }

    .kyc__usecase-grid-container h1{
        font-size: 18px;
        
    }
}

@media screen and (max-width: 650px){
    .kyc__usecase{
        padding: 0 1rem;
        gap: 1rem;
        
    }

    .kyc__usecase h1{
        font-size: 18px;
    }

    .kyc__usecase-grids{
        grid-template-columns: repeat(2, 1fr);
    }
}

